{% extends "users/base2.html" %} {% block content %}

<!-- Breadcrumb -->
<!-- Page Title -->
<div class="container mt-0">
  <div class="row breadcrumb-bar">
    <div class="col-md-6">
      <h3 class="block-title">Patient Details</h3>
    </div>
    <div class="col-md-6">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="index.html">
            <span class="ti-home"></span>
          </a>
        </li>
        <li class="breadcrumb-item">Patients</li>
        <li class="breadcrumb-item active">Patient Details</li>
      </ol>
    </div>
  </div>
</div>
<!-- /Page Title -->

<!-- /Breadcrumb -->
<!-- Main Content -->
<div class="container">
  <div class="row">
    <!-- Widget Item -->
    <div class="col-md-6">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">Patient Details</h3>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td><strong>patient id</strong></td>
                <td>{{patient.id}}</td>
              </tr>
              <tr>
                <td><strong>Name</strong></td>
                <td>{{patient.first_name}} {{patient.last_name}}</td>
              </tr>
              <tr>
                <td><strong>Gender</strong></td>
                <td>{{patient.gender}}</td>
              </tr>
              <tr>
                <td>
                  <strong>Address</strong>
                </td>
                <td>
                  {{patient.woreda.woreda_name}},{{patient.woreda.zone.zone_name}},
                  {{patient.woreda.zone.region.region_name}}
                </td>
              </tr>
              <tr>
                <td><strong>Phone </strong></td>
                <td>{{patient.contact_number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-6">
      <div class="widget-area-2 proclinic-box-shadow">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td><strong>Pending Lab Test Orders</strong></td>
                <td>
                  <a href="{% url 'tests:patient-detail' patient.id %}">
                    <button type="button" class="btn btn-sm btn-primary mb-0">
                      <span class="ti-pencil-alt"></span> Detail
                    </button>
                  </a>
                </td>
              </tr>
              <tr>
                <td><strong>Pending Radiology Test Orders</strong></td>
                <td>
                  <a href="{% url 'tests:patient-detail' patient.id %}">
                    <button type="button" class="btn btn-sm btn-primary mb-0">
                      <span class="ti-pencil-alt"></span> Detail
                    </button>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Priscrption</strong>
                </td>
                <td>
                  <a href="{% url 'tests:patient-detail' patient.id %}">
                    <button type="button" class="btn btn-sm btn-primary mb-0">
                      <span class="ti-pencil-alt"></span> Detail
                    </button>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Procedure</strong>
                </td>
                <td>
                  <a href="{% url 'tests:patient-detail' patient.id %}">
                    <button type="button" class="btn btn-sm btn-primary mb-0">
                      <span class="ti-pencil-alt"></span> Detail
                    </button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
    <!-- Widget Item -->
    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">
          Pending Lab Test Orders for {{patient.first_name}}
          {{patient.last_name}}
        </h3>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>No</th>
                <th>test id</th>
                <th>test name</th>
                <th>Orderd Date</th>
                <th>ordered by</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for lab in pending_orders %}

              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{lab.labtest.id}}</td>
                <td>{{lab.labtest.name}}</td>
                <td>{{lab.order_date}}</td>
                <td>{{lab.doctor.username}}</td>
                <td>{{lab.labtest.price}}</td>
                <td>{{lab.order_status}}</td>
              </tr>
              {% endfor %} {% if total > 0 %}
              <tr>
                <td colspan="5" class="text-center">Total</td>
                <td colspan="2" class="text-center">
                  <strong>{{total}}</strong>
                </td>
              </tr>
              {% else %}
              <tr>
                <td colspan="7" class="text-center">No pending orders</td>
              </tr>

              {% endif %} {% comment %}
              <tr>
                <td colspan="5" class="text-center">Total</td>
                <td colspan="2" class="text-center">
                  <strong>{{total}}</strong>
                </td>
              </tr>
              {% endcomment %}
            </tbody>
          </table>
          {% if total %}
          <div class="container text-center">
            <a
              href="{% url 'tests:pay-lab' patient.id %}"
              type="button"
              class="btn btn-success mb-3"
            >
              <span class="ti-pencil-alt"></span> Pay Lab payments
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="widget-area-2 proclinic-box-shadow">
        <h3 class="widget-title">
          Paid Lab Test Orders for {{patient.first_name}} {{patient.last_name}}
        </h3>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>No</th>
                <th>test id</th>
                <th>test name</th>
                <th>Orderd Date</th>
                <th>ordered by</th>
                <th>Price</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              {% for lab in paid_orders %}

              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{lab.labtest.id}}</td>
                <td>{{lab.labtest.name}}</td>
                <td>{{lab.order_date}}</td>
                <td>{{lab.doctor.username}}</td>
                <td>{{lab.labtest.price}}</td>
                <td>{{lab.order_status}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- /Widget Item -->
  </div>
</div>
<!-- /Main Content -->
{% endblock content %}
